.title{
    color: rgb(187, 17, 17);
    text-align: center;
    margin: 0;
    padding: 5px;
    }
    body{
    margin: 0;
    padding: 0;
    background-color: rgb(21, 19, 22);
    }
    .main-container{
    margin: 0;
    padding: 0;
    position: relative;
    }
    .clock{
    margin: 40px;
    padding: 0;
    text-align: center;
    font-size: 60px;
    color: rgb(77, 45, 166);
    }
    .date{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: rgb(198, 28, 28);
    }
    .btn_1{
    padding: 10px;
    margin-top: 50px;
    margin-left: 45%;
    }
    .btn_2{
    padding: 10px;
    margin-left: 10px;
    }